.en-font{
    font-family: 'Lobster', cursive;
}
.zh-font{
    font-family: 'Noto Sans TC', sans-serif;
}
.text-left{
    text-align: left;
}
.full-bg{
    background: url('../img/banner_mirror.jpg')  #febdbc;
    background-size: cover;
}
/* navbar */
.bg-light {
    background-color: #f8f9fa99!important;
}
@media screen and (max-width: 540px){
    .bg-light>.bg-light {
    background-color: #ff5667!important;
}
}
.navbar-nav{
    margin: 0 auto;
}
.nav-item{
    width: 150px;
}
.dropdown-item:hover{
    color: #fff;
    text-decoration: none;
    background-color: #dc3545;
}
.dropdown-item.active, .dropdown-item:active,.dropdown-item:focus{
    color: #fff;
    text-decoration: none;
    background-color: #dc3545;
    box-shadow: 1px 1px 3px black;
}
/* header */
.jumbotron{
    background-image: url('../img/banner.jpg');
    height: 600px;
    -moz-background-size:100% auto;
    -webkit-background-size:100% auto;
    -o-background-size:100% auto;
    background-size:100% auto;
}
/* card */
.card-mt{
        margin-top: -20rem;
    }
.btn-primary {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active{
    color: #fff;
    background-color: #ff0018;
    border-color: #ff0018;
    box-shadow: 3px 3px 3px black;
}
/* footer */
.footer{
    background: #dc3545;
    height: 100px;
}
/* cartpage */
.cart-bg{
    background-color: #f6cdff7a;;
}
.mt-20{
    margin-top: 80px;
}
/* RWD */
@media screen and (max-width: 540px){
    .jumbotron{
    height: 300px;
    }
    .card-mt{
        margin-top: 0rem;
    }
}
/* table boot */
@media screen and (min-width: 768px) {
    .cart-th{
        width: 490px;
    }
}
@media screen and (min-width: 1024px) {
    .cart-th{
        width: 723px;
    }
}
@media screen and (min-width: 1366px) {
    .cart-th{
        width: 905px;
    }
}
/* table */
.rwd-table {
    background: #fff;
    overflow: hidden;
}

.rwd-table tr:nth-of-type(2n){
    background: #eee;
}
.rwd-table th,
.rwd-table td {
    margin: 0.5em 1em;
}
.rwd-table {
    min-width: 100%;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:before {
content: attr(data-th) " ";
font-weight: bold;
width: 6.5em;
display: inline-block;
}

.rwd-table th, .rwd-table td {
text-align: left;
}

.rwd-table th, .rwd-table td:before {
color: #D20B2A;
font-weight: bold;
}

@media (min-width: 480px) {
.rwd-table td:before {
display: none;
}
.rwd-table th, .rwd-table td {
display: table-cell;
padding: 0.25em 0.5em;
}
.rwd-table th:first-child,
.rwd-table td:first-child {
padding-left: 0;
}
.rwd-table th:last-child,
.rwd-table td:last-child {
padding-right: 0;
}
.rwd-table th,
.rwd-table td {
padding: 1em !important;
}
}